NODE_ENV=development
PORT=4100
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-with-openssl-rand-hex-32
ADMIN_PASSWORD_HASH=$2a$10$Vz6lR8fB7fY.zCOCAU18j.dm8YBxTFdEVh5a8GXEo0ZX3PYr5.I3e
MISSION_ID=operation-festin
DATABASE_URL=./data/spectra.sqlite
